* {
    font-family: 'Spectral', serif;
    font-size: 14px;
    font-weight: 600;
}
.button-style-outline {
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 0;
    border-radius: 4px;
    transition: 0.1s;
}
.button-style-outline:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.button-style-container {
    background-color: #fce477;
    color: #333;
    border-radius: 4px;
    padding: 10px 0;
    transition: 0.1s;
}
.button-style-container:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-item {
    position: relative;
    width: calc(100% / 4 - 22px);
    height: 400px;
    cursor: pointer;
    border: 1px solid rgba(253, 241, 241, 0.867);
}
.card-item:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}
.card-item span {
    position: absolute;
    background-color: #fce477;
    padding: 4px 16px;
    color: #fff;
    top: 0px;
    left: 0px;
}
.card-item img {
    margin: 0 auto;
}
.card-item img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.blog-item {
    width: calc(100% / 3 - 30px);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    margin-top: 10px;
}
.blog-item > div > img {
    object-fit: cover;
    transition: 1s all;
    z-index: -999;
    width: 100%;
}
.blog-item > div > img:hover {
    transform: scale(1.01);
}
.intro {
    margin-top: 30px;
}
.intro li {
    list-style: circle;
    margin-left: 30px;
}
.inputActive:active {
    border: 3px solid #333;
}
.radioBtnCss {
    width: 30px;
    height: 30px;
    color: #333;
}
.data-check {
    position: relative;
}
.data-check > input[type='checkbox'] {
    appearance: none;
}

.data-check > label {
    position: relative;
    font-size: 14px;
    padding: 6px 24px;
    margin: 0;
    cursor: pointer;
    /* background-color: #fce477; */
    border-radius: 5px;
    border: 3px solid #ffd400;
}
.data-check > .ticket {
    position: absolute;
    top: 10px;
    left: 70%;
    width: 30px;
    height: 30px;
    background-image: url('./assets/img/tick.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
}
.wrapper-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    opacity: 0.7;
    z-index: 9999999;
}
.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    left: 49.5%;
    top: 49.5%;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #ff3d00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.site-footer {
    padding-top: 50px;
    @include breakpoint(phone) {
        padding-top: 90px;
    }
    .site-footer__top {
        @include breakpoint(phone) {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 60px;
        }
        @include breakpoint(tablet-lg) {
            flex-wrap: nowrap;
        }
    }
    .site-footer__description {
        margin-right: auto;
        margin-bottom: 70px;
        @include breakpoint(phone) {
            width: 400px;
            margin-bottom: 50px;
        }
        @include breakpoint(tablet-lg) {
            margin-bottom: 0;
        }
        svg {
            object-fit: contain;
            width: 45px;
            height: 35px;
            fill: #000;
            margin-right: 15px;
        }
        h6 {
            display: flex;
            color: #000;
            font-weight: 300;
            align-items: center;
            margin-bottom: 33px;
            span {
                font-weight: 400;
                color: var(--color-orange);
            }
        }
        p {
            font-size: 13px;
            line-height: 190%;
        }
    }
    .site-footer__social-networks {
        display: flex;
        margin-top: 20px;
        li {
            font-size: 21px;
            margin-right: 25px;
        }
    }
    .site-footer__links {
        @include breakpoint(phone) {
            display: flex;
            width: 100%;
        }
        @include breakpoint(tablet-lg) {
            width: auto;
        }
        ul {
            margin-bottom: 40px;
            @include breakpoint(phone) {
                margin-right: 50px;
                margin-bottom: 0;
            }
            @include breakpoint(tablet-lg) {
                margin-right: 99px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            li {
                font-size: 14px;
                color: #000;
                margin-bottom: 12px;
                @include breakpoint(phone) {
                    margin-bottom: 15px;
                }
                &:first-child {
                    font-weight: 600;
                    margin-bottom: 26px;
                    @include breakpoint(phone) {
                        margin-bottom: 34px;
                    }
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .site-footer__bottom {
        padding: 20px 0;
        border-top: 1px solid #ebebeb;
        @include breakpoint(phone) {
            padding: 33px 0;
        }
        .container {
            font-size: 11px;
            text-align: center;
            @include breakpoint(phone) {
                font-size: 16px;
            }
        }
    }
}
